.myModal {
    text-align: center;
}

.myModal button {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #00adef;
    color: #000;
}

.myModal button:hover{
    background-color: #a3d600;
    color: #fff;
}

.myModal .ratingBtn {
    font-size: 75px;
    margin: 10%;
}
